@import url("https://fonts.googleapis.com/css2?family=Port+Lligat+Slab&family=Righteous&family=Sarala&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inspiration&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Slab:wght@500&display=swap");

* {
  margin: auto;
}

html {
  padding: 1%;
  background-color: black;
}

body {
  background-color: rebeccapurple;
  border: solid;
  margin: 2%;
}

nav {
  width: 94%;
  text-decoration: none;
  border: solid;
  display: inline-flex;
  justify-content: space-between;
  background-image: linear-gradient(
    to right,
    rgb(70, 70, 82),
    rgb(52, 63, 73)
  );
  text-decoration: none;
  border-radius: 15px;
}

header {
  padding-top: 10px;
  width: auto 100%;
}

.conteudo {
  margin: 1%;
  border: solid;
  box-sizing: border-box;
  border-radius: 15px;
}

.classeprincipal {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: auto;
  margin-left: auto;
  font-family: "Righteous", cursive;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.classesobre {
  padding: 20%;
  border-top: 10px solid #4b179e;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: rebeccapurple;
  border-radius: 0px;
}

.corpo {
  font-family: "Righteous", cursive;
  margin: 15%;
}

.corpo2 {
  font-family: "Righteous", cursive;
  text-align: center;
}

a:hover {
  color: #f9004d;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li a {
  font-family: "Righteous", cursive;
  font-weight: bold;
  color: black;
  font-size: 20px;
}

#navegacao {
  margin: 1%;
  padding: 2%;
}

ul li a {
  text-decoration: none;
}

nav ul li a {
  margin: 10px;
  justify-content: space-between;
}

.p1 {
  font-family: "Roboto Slab", serif;
  color: black;
  font-size: 28px;
}

span {
  color: #f9004d;
}

.social :hover {
  color: #f9004d;
}

.ins {
  color: darkmagenta;
}

.face {
  color: blue;
}

.git {
  color: black;
}

.link {
  color: rgb(116, 116, 235);
}

.social {
  font-size: 20px;
}

img {
  border: solid;
  border-radius: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  margin-top: 5%;
}

.img1 {
  min-width: 320px;
  max-width: 800px;
}
.nome {
  font-size: 45px;
  padding: 30px;
}

.curso {
  padding: 10px;
}

.sobre {
  padding: 20px;
  font-size: 40px;
}

.conhecimento {
  padding: 20px;
  font-size: 40px;
}

.lf {
  padding: 10px;
}
